initial test

In [4]:
name = 'JZ'

In [6]:
print(f"Hello! My name is {name}, this is my first Jupyter Notebook page.")

Hello! My name is JZ, this is my first Jupyter Notebook page.

Numbers
Learning resource: https://docs.python.org/3/tutorial/introduction.html#numbers

Expression syntax is straightforward: the operators +, -, * and / work just like in most other languages (for example, Pascal or C); parentheses (()) can be used for grouping. 

Practice example:

In [7]:
2+2

4

In [8]:
50 - 5*6

20

In [9]:
(50-5*5)/4

6.25

In [10]:
8/5 # division always returns a floating point number

1.6

The integer numbers (e.g. 2, 4, 20) have type int, the ones with a fractional part (e.g. 5.0, 1.6) have type float.

In [11]:
type(2)

int

In [12]:
type(2.5)

float

Division (/) always returns a float. To do floor division and get an integer result you can use the // operator; to calculate the remainder you can use %:

In [13]:
17/3 # classic division returns a float

5.666666666666667

In [14]:
17//3 # floor division discards the fractional part

5

In [15]:
17%3 # the % operator returns the remainder of the division

2

In [16]:
5*3+2 # floored quotient * divisor + remainder

17

With Python, it is possible to use the ** operator to calculate powers:

In [17]:
5**2 # 5 squared

25

In [18]:
2**7 # 2 to the power of 7

128

The equal sign (=) is used to assign a value to a variable. Afterwards, no result is displayed before the next interactive prompt:

In [19]:
width = 20
height = 5*9
width * height

900

If a variable is not “defined” (assigned a value), trying to use it will give you an error:

In [20]:
width * depth

NameError: name 'depth' is not defined

There is full support for floating point; operators with mixed type operands convert the integer operand to floating point:

In [21]:
2 * 3.3 + 1

7.6

In [22]:
2 * 2.5 + 1

6.0

In interactive mode, the last printed expression is assigned to the variable _. This means that when you are using Python as a desk calculator, it is somewhat easier to continue calculations, for example:

In [23]:
tax = 12.5 / 100
price = 100.50
price * tax

12.5625

In [24]:
price + _

113.0625

In [ ]:
roun