Learning Resources: 
- [Dictionaries](https://docs.python.org/3/tutorial/datastructures.html#dictionaries)
- [Looping Techniques](https://docs.python.org/3/tutorial/datastructures.html#looping-techniques)

________________________________________________________________

**Dictionaries**


Another useful data type built into Python is the dictionary (see [Mapping Types — dict](https://docs.python.org/3/library/stdtypes.html#typesmapping)). 

Dictionaries are sometimes found in other languages as “associative memories” or “associative arrays”. Unlike sequences, which are indexed by a range of numbers, dictionaries are indexed by keys, which can be any **immutable type**; strings and numbers can always be keys.

Tuples can be used as keys if they contain only strings, numbers, or tuples; if a tuple contains any mutable object either directly or indirectly, it cannot be used as a key.

You can’t use lists as keys, since lists can be modified in place using index assignments, slice assignments, or methods like append() and extend().

It is best to think of a dictionary as a set of **`key: value`** pairs, with the requirement that the keys are unique (within one dictionary). A pair of braces creates an empty dictionary: {}. Placing a comma-separated list of key:value pairs within the braces adds initial key:value pairs to the dictionary; this is also the way dictionaries are written on output.

The main operations on a dictionary are storing a value with some key and extracting the value given the key. It is also possible to delete a key:value pair with `del`. If you store using a key that is already in use, the old value associated with that key is forgotten. It is an error to extract a value using a non-existent key.

Performing `list(d)` on a dictionary returns a list of all the keys used in the dictionary, in insertion order (if you want it sorted, just use sorted(d) instead). To check whether a single key is in the dictionary, use the in keyword.

Here is a small example using a dictionary:

In [9]:
tel = {'jack':4098, 'sape':4139}
tel['guido'] = 4127
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [10]:
tel['jack']

4098

In [11]:
del tel['sape']
tel['irv'] = 4127
tel

{'jack': 4098, 'guido': 4127, 'irv': 4127}

In [12]:
list(tel)

['jack', 'guido', 'irv']

In [13]:
sorted(tel)

['guido', 'irv', 'jack']

In [14]:
'guido' in tel

True

In [16]:
'jack' not in tel

False

The `dict()` constructor builds dictionaries directly from sequences of key-value pairs:

In [21]:
dict([('sape',4139), ('guido',4127), ('jack',4098)])
#❗I don't understand why the dict() constructor has to use () and [] to make a dictionary

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In addition, dict comprehensions can be used to create dictionaries from arbitrary key and value expressions:

In [22]:
{x: x**2 for x in (2,4,6)}

{2: 4, 4: 16, 6: 36}

When the keys are simple strings, it is sometimes easier to specify pairs using keyword arguments:

In [23]:
dict(sape=4139, guido=4127, jack=4089)

{'sape': 4139, 'guido': 4127, 'jack': 4089}

_________________________________________________________________________

**Looping Techniques**

When looping through dictionaries, the key and corresponding value can be retrieved at the same time using the items() method.

In [28]:
knights = {'gallahd':'the pure', 'robin':'the brave'}
for k,v in knights.items():
    print(k,v)

gallahd the pure
robin the brave

When looping through a sequence, the position index and corresponding value can be retrieved at the same time using the `enumerate()` function.

In [29]:
for i, v in enumerate(['tic','tac','toe']):
    print(i,v)

0 tic
1 tac
2 toe

To loop over two or more sequences at the same time, the entries can be paired with the [zip()](https://docs.python.org/3/library/functions.html#zip) function.

In [34]:
questions = ['name', 'quest', 'favorite color']
answers = ['lacelot', 'the holy grail', 'blue']
for q,a in zip(questions, answers):
    print('what is your {0}? it is {1}.'.format(q,a))

what is your name? it is lacelot.
what is your quest? it is the holy grail.
what is your favorite color? it is blue.

To loop over a sequence in reverse, first specify the sequence in a forward direction and then call the [reversed()](https://docs.python.org/3/library/functions.html#reversed) function.

In [35]:
for i in reversed(range(1,10,2)):
    print(i)

9
7
5
3
1

To loop over a sequence in sorted order, use the [sorted()](https://docs.python.org/3/library/functions.html#sorted) function which returns a new sorted list while leaving the source unaltered.

In [45]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for i in sorted(basket):
    print(i)

apple
apple
banana
orange
orange
pear

Using [set()](https://docs.python.org/3/library/stdtypes.html#set) on a sequence eliminates duplicate elements. The use of sorted() in combination with set() over a sequence is an idiomatic way to loop over unique elements of the sequence in sorted order.

In [49]:
basket2 = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for i in sorted(set(basket2)):
    print(i)

apple
banana
orange
pear

It is sometimes tempting to change a list while you are looping over it; however, it is often simpler and safer to create a new list instead.

In [52]:
import math
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
#In Python, the float type has nan . nan stands for "not a number" and is defined by the IEEE 754 floating-point standard
filtered_data = []
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)
filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]