**Coding Tasks**

____________________________________________

**Task No.1 - Write the code to print out all the odd numbers from 1 to 19 (1, 3, 5, ... 19)**

In [1]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

**Task No.2 - Write the code to print out a countdown from 10 to 1 (10, 9, 8, ... 1)**

In [3]:
countdown = 10

while countdown > 0:
    print(countdown)
    countdown = countdown - 1

10
9
8
7
6
5
4
3
2
1

**Task No.3 - Write the code to print out "forest" 5 times.**

In [4]:
print('forest'*5)

forestforestforestforestforest

In [7]:
for forest in range(5):
    print('forest')

forest
forest
forest
forest
forest

**Task No. 4 - Write the code to print out this multiplication table:**

1*9 = 9

2*9 = 18

...

9*9 = 81

In [9]:
for multiplication in range(1,10):
    print(multiplication, '* 9 =', multiplication*9)

1 * 9 = 9
2 * 9 = 18
3 * 9 = 27
4 * 9 = 36
5 * 9 = 45
6 * 9 = 54
7 * 9 = 63
8 * 9 = 72
9 * 9 = 81

**Task No.5 - Write the code to print out all multiplication tables from 1 to 9**

In [73]:
for multiplications in range(1,10):
    print('Multiplication table for', multiplications)
    for compute in range(1,10):
        print(multiplications, '*', compute, '=', compute*multiplications)
        #using nested sub for loop

Multiplication table for 1
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
Multiplication table for 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
Multiplication table for 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
Multiplication table for 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
Multiplication table for 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
Multiplication table for 6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
Multiplication table for 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
Multiplication table for 8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
Multiplication table for 9
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

**Task No.6 - Write the code to calculate the result of 1 x 2 x 3 x ... x 9 x 10.**

In [95]:
#using Traversal https://www.tutorialspoint.com/python_data_structure/python_tree_traversal_algorithms.htm
def multiplyList(compute_list):
    result = 1
    for numbers in compute_list:
        result = result * numbers
    return result

my_list = [1,2,3,4,5,6,7,8,9,10]
print(multiplyList(my_list))

3628800

**Task No.7 - Write the code to calculate the total length of this list of strings ["python", "is", "fun"]. Total length is defined by the sum of the length of each string in the list. It should return 11.**

In [92]:
strings = "python"+"is"+"fun"
len(strings)

11

**Task No.8 - Given the list of strings ['fairy', 'kitchen', 'reach', 'cower', 'drama', 'negligence', 'rank', 'mess', 'injection', 'brink'], write the code to print out only the words that contain the letter a.**

In [94]:
words = ['fairy', 'kitchen', 'reach', 'cower', 'drama', 'negligence', 'rank', 'mess', 'injection', 'brink']

for searchWords in words:
    while

['fairy', 'kitchen', 'reach', 'cower', 'drama', 'negligence', 'rank', 'mess', 'injection', 'brink']