**Coding Tasks**
____________________________________________

**Task No.1 - Write the code to print out all the odd numbers from 1 to 19 (1, 3, 5, ... 19)**

In [1]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

**Task No.2 - Write the code to print out a countdown from 10 to 1 (10, 9, 8, ... 1)**

In [3]:
countdown = 10

while countdown > 0:
    print(countdown)
    countdown = countdown - 1

10
9
8
7
6
5
4
3
2
1

**Task No.3 - Write the code to print out "forest" 5 times.**

In [4]:
print('forest'*5)

forestforestforestforestforest

In [7]:
for forest in range(5):
    print('forest')

forest
forest
forest
forest
forest

**Task No. 4 - Write the code to print out this multiplication table:**

1*9 = 9

2*9 = 18

...

9*9 = 81

In [9]:
for multiplication in range(1,10):
    print(multiplication, '* 9 =', multiplication*9)

1 * 9 = 9
2 * 9 = 18
3 * 9 = 27
4 * 9 = 36
5 * 9 = 45
6 * 9 = 54
7 * 9 = 63
8 * 9 = 72
9 * 9 = 81

**Task No.5 - Write the code to print out all multiplication tables from 1 to 9**

In [17]:
for multiplications in range(1,10):
    print(
        'Multiplication table for', multiplications,
        multiplications, '*', multiplications, '=', multiplications * multiplications
    )

Multiplication table for 1 1 * 1 = 1
Multiplication table for 2 2 * 2 = 4
Multiplication table for 3 3 * 3 = 9
Multiplication table for 4 4 * 4 = 16
Multiplication table for 5 5 * 5 = 25
Multiplication table for 6 6 * 6 = 36
Multiplication table for 7 7 * 7 = 49
Multiplication table for 8 8 * 8 = 64
Multiplication table for 9 9 * 9 = 81